@font-face {
        font-family: "helvetica-regular";
        src: url("./assets/fonts/helvetica-regular.ttf") format("truetype");
      }
@font-face {
        font-family: "arial-regular";
        src: url("./assets/fonts/arial-regular.ttf") format("truetype");
      }
